<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>participantsContact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content lines="inset">
  <ion-searchbar placeholder="Search..." [(ngModel)]="filterTerm" animated="true"></ion-searchbar>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Team
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let participant of team| filter:filterTerm" (click)="openModal(participant)">
        <ion-icon name="person-circle-sharp" style="margin-right: 5px;"></ion-icon>
        <ion-label>{{participant.fullName}}</ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>
          Participants
        </ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let participant of participants| filter:filterTerm" (click)="openModal(participant)">
        <ion-icon name="person-circle-sharp" style="margin-right: 5px;"></ion-icon>
        <ion-label>{{participant.fullName}}</ion-label>
      </ion-item>
    </ion-item-group>

  </ion-list>

</ion-content>
