<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>activityDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let detail of dayProgram; let index = index">
  
  <ion-card  class="marginFAB" *ngIf="segment === detail.time">
    <ion-img *ngIf="detail.images.length===0" src="../../assets/logo-rose.png"></ion-img> 
    <ion-img *ngIf="detail.images.length!==0" src={{detail.images}}></ion-img> 
    <ion-card-header>
      <ion-card-title>  {{detail.name}} </ion-card-title>
      <ion-card-subtitle>  {{detail.actualTime}} </ion-card-subtitle>   
    </ion-card-header>
    <ion-card-content>
      <ion-label color="medium"> {{detail.description}}</ion-label>
 
      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label> movie.release_date | date: 'y'}}</ion-label>
      </ion-item>
 
      <ion-item lines="none">
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-label> movie.budget| currency: 'USD' }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</div>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="genericService.sendAlert()">
  <ion-fab-button>
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<ion-segment segment (ionChange)="segmentChanged($event)"  value="{{segment}}" scrollable>
  <ion-segment-button *ngFor="let activity of dayProgram; let index = index"  value="{{activity.time}}">
    <ion-label>
      {{activity.time}}
    </ion-label>
  </ion-segment-button>  
</ion-segment>
