<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{this.dayname}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let detail of dayProgram; let index = index">

  <ion-card  class="marginFAB" *ngIf="segment === detail.time">
    <ion-img *ngIf="detail.images.length===0" src="https://interota2023.com/assets/img/mobileapp/logo-rose.png"></ion-img>
    <ion-img *ngIf="detail.images.length!==0" src={{detail.images}}></ion-img>
    <ion-card-header>
      <ion-card-title style="
      font-size: xx-large;
  ">  {{detail.name}} </ion-card-title>
      <ion-card-subtitle>  {{detail.actualTime}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>


      <ion-label color="medium" style="
      font-size: initial;
  "> {{detail.description}}</ion-label>

      <ion-item lines="none">
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-label>{{dayDate}}</ion-label>
      </ion-item>
<div>
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
      <ion-button class="border-radius:90px !important" (click)=" openTOS(detail.Location)">
        <ion-icon name="map-outline"></ion-icon>
        &nbsp;Get Directions
      </ion-button>
      </ion-col>
      <ion-col></ion-col>

    </ion-row>
    </ion-grid>
    </div>
    </ion-card-content>
  </ion-card>

</div>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="genericService.sendAlert()">
  <ion-fab-button>
    <ion-icon name="notifications-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<ion-segment segment (ionChange)="segmentChanged($event)"  value="{{segment}}" scrollable>
  <ion-segment-button *ngFor="let activity of dayProgram; let index = index"  value="{{activity.time}}">
    <ion-label>
      {{activity.time}}
    </ion-label>
  </ion-segment-button>
</ion-segment>
