<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Useful Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item *ngIf="buddy != null">
      <ion-thumbnail slot="start">
        <img alt="" src="../../assets/team/{{buddy.picture}}" />
      </ion-thumbnail>
      <ion-label>{{buddy.fullName}}</ion-label>
      <a href="tel:{{buddy.tel}}">

        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="" src="../../assets/team/labib.jpg" />
      </ion-thumbnail>
      <ion-label>Labib Mezghanni</ion-label>
      <a href="tel:+21622870601">
        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/team/khalil.png" />
      </ion-thumbnail>
      <ion-label>Khalil Naccache</ion-label>
      <a href="tel:+21652128123">
        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/team/hotel.jpg" />
      </ion-thumbnail>
      <ion-label>Hotel Palm Azure</ion-label>
      <a href="tel:+21675750700">
        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/team/samu.jpg" />
      </ion-thumbnail>
      <ion-label>SAMU</ion-label>
      <a href="tel:190">
        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="../../assets/team/civil.png" />
      </ion-thumbnail>
      <ion-label>Civil Protection</ion-label>
      <a href="tel:198">
        <ion-icon name="call" slot="end"></ion-icon>
      </a>
    </ion-item>
  </ion-list>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="genericService.sendAlert()">
    <ion-fab-button>
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
